html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

body{
    margin: 0;
    padding: 0;
    height: 550px;
    width: 700px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }



.container{
    height: 70%;
    width: 70%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6%;
    left: 15%;
    /* bottom: auto; */
    flex-direction: column;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.inputs{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}
#clkImage{
    width: 170px;
}

#submitToken {
    padding: 15px 20px;
    width: 100%;
    background-color: #7b68ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}
#submitToken:hover {
    background-color: #4838b4;
}



#enterToken{
    padding: 15px 20px;
    width: 85%;
    border-radius: 5px;
    border: 1px solid #7b68ee;
}
#enterToken:focus{
    outline: none;
}
#context{
    margin: 0px;
    text-align: center;
    font-family: "Halvetica", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}
.instructuions{
    margin: 15px 25px;
    text-align: center;
    font-family: "Halvetica", sans-serif;
    opacity: 0.3;
}

/* //main content */

.content {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  }

.content_container{
  background-color: #666666;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
}
.topbar {
    color: white;
    width: 100%;
    background-image: linear-gradient(to right, rgb(133, 71, 233), rgb(87, 187, 226));
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
    gap: 8%;
    z-index: 2;

}
.profile{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.profile_picture, .workspace_picture{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 1% 0;
    transition: 0.2s ease-in-out;
}

.profile_picture:hover, .workspace_picture:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.workspace{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.topbar_titles, .taskbar_titles{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Halvetica", sans-serif;
    font-size: larger;
    font-weight: bold;
    margin: 0 4%;
}
.taskbar{
    color: white;
    width: 100%;
    background-color: rgb(42, 119, 206);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);

}
.view_tasks, .add_tasks{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    transition: 0.6s ease-in-out;
}
.view_tasks:hover, .add_tasks:hover{
    background-color: #4838b4;
    cursor: pointer;
}

/* //drop down */
@import url('https://v1.fontapi.ir/css/Vazir');
nav {
    position: absolute;
    top: 14%;
    left: 66%;
   
  }
  nav .wrapper {
    position: absolute;
    display: none;
    background: #252426;
    border-radius: 5px;
  }
  .wrapper-show {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  nav a {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    margin-block: 3px;
    text-decoration: none;
    color: #b0b3b8;
    border-radius: 8px;
    transition: 0.3s;
  }
  nav a:hover {
    background: #3a3b3c;
  }
  nav ul {
    list-style: none;
    width: 200px;
    padding: 10px;
    transition: 0.3s;
  }
  

  .icon {
    width: 40px;
    height: 40px;
    margin-left: 13px;
    background: #ffffff1a;
    border-radius: 50%;
    
  }
.workspace_item_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Halvetica", sans-serif;
    margin: 0 4%;
    padding: 0px 0px 0 20px;
}
.content_view{
    display: block;
}
.content_nonview{
    display: none;
}
.logout{
    font-family: "Halvetica", sans-serif;
    margin: 0 4%;
}




.dropdown {
    
   background-image: linear-gradient(45deg, rgb(41, 41, 41), rgb(58, 58, 58));
    color: white;
    width: 14em;
    padding: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
  }
  .clear {
    
    background-image: linear-gradient(45deg, rgb(41, 41, 41), rgb(58, 58, 58));
     color: white;
     margin: 1em auto;
     width: 1.7rem;
     border-radius: 8px;
     padding: 4px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   }

  
  .mainDropdown {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
  }
  .mainDropdown:hover {
    background: #474747;
  }
  .mainDropdown:active {
    background: #003030;
  }
  
  .downIcon {
    float: right;
  }
  
  /*List*/
  .js-dropdown-list {
    display: none;
    border-top: 0.1em solid #c0cdd1;
    padding-left: 30px;
  }
  
  .spaceItems, .folderItems, .listItems, .taskItems {
    padding: 0.5em;
    cursor: pointer;
  }
  .spaceItems, .folderItems, .listItems, .taskItems  {
    border-radius: 3px;
  }
  .spaceItems:focus, .spaceItems:hover, .folderItems:focus, .folderItems:hover, .listItems:focus, .listItems:hover, .taskItems:focus, .taskItems:hover {
    background: #5e5e5e;
  }
  .spaceItems:active, .folderItems:active, .listItems:active {
    background: #0e0e0e;
  }
  .taskItems{
    height: 25px;
    padding-top: 15px;
    border-radius: 10px;
    

  }


  .selectOptions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;  
  }
  ul{
    list-style: none;
  }

/* //main task */
.mainTasks{
  background-color: #3a3b3c;
  border-radius: 4px;
  height: 500px;
  width: 100%;
  color: #ffffff;
  margin-top: 4px;
  font-size: 0.9rem;  
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;

}
.taskTopbar{
  padding: 11px 0;
  padding-left: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-bottom: 2px dashed rgb(43, 42, 42);
}
.taskContent{
  padding: 11px 0;
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

li{
  list-style: none;
}


.taskTitle, .task{
  width: 40%;
  text-align: left;
}
.taskDate, .assignedDate{
  
  width: 20%;
  text-align: center;
}
.taskDue, .dueDate{
  width: 20%;
  text-align: center;
}
.taskPriority, .priority{
  width: 20%;
  text-align: center;
}
